.idea 
	.idea__title Idea 
	.idea__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, temporibus recusandae. Ad, nemo sapiente. Eaque quisquam voluptas, autem molestias delectus saepe. Quas minus dolore ipsam nisi aut beatae, tempora vero.