- const dataGlobal = htmlWebpackPlugin.options.data;

doctype html
html(lang="en")
	head
		include ./layout/head

	body

		include ./components/preloader

		main(data-barba="wrapper" data-barba-namespace="home")
			block content

		include ./components/canvas

		footer
			include ./layout/footer