.describe
	.describe__wrapper 
		h2.describe__title About this website
		p.describe__text="The website is created to showcase front-end environment for modern JavaScript applications. The idea is that you have all the code organized using OOP approach. All components & modules are organized into folders & sub-folders. App folder for js, styles folder for sass, and views folder for pug files. You also have the shared folder that contains all assets needed for an application, such as images, fonts, 3d models, glsl shaders, site.manifest, robots.txt, etc-etc..." 
		p.describe__text="The application is bundled using Webpack, which processes the code and splits it into chunks. On the front-end, libraries such as THREE.js, Lodash, and GSAP are used. To read more about the structure, feel free to click the link below." 
		a.describe__button(href="#" style="cursor: not-allowed;")
			button.btn(style="cursor: not-allowed;")
				span.btn__text 
					span.btn__text--inner Read more
	#canvas__element--field