- var data = dataGlobal.home.about;

.describe
	.describe__wrapper 
		h2.describe__title=data.title
		each text in data.description
			p.describe__text=text
		a.describe__button(href=data.button.href)
			button.btn(style="cursor: not-allowed;")
				span.btn__text 
					span.btn__text--inner=data.button.title
	#canvas__element--field