@import './../../node_modules/@fontsource/inter/index.css';
@import './../../node_modules/@fontsource/inter/900.css';
html {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover .btn, .cover__desc--hidden, .cover__desc li, .cover__title, .cover {
  visibility: hidden;
}

.dg.ac {
  z-index: 99999 !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --data-color-primary: 0, 0, 0;
  --data-color-secondary: 255, 255, 255;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 0.5208333333vw;
  line-height: 1;
  color: rgb(var(--data-color-primary));
  background: rgb(var(--data-color-secondary));
  overscroll-behavior-x: none;
  cursor: default;
}
@media (max-width: 1023px) {
  html {
    font-size: 2.915451895vw;
    overflow: auto;
    overflow-x: hidden;
  }
}

body {
  overscroll-behavior-x: none;
  background: #f5f6fa;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

h1 {
  font-weight: 900;
  font-size: 6rem;
}

p {
  font-weight: 400;
  font-size: 1.35rem;
}

img {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 2;
}

.preloader__icon svg path, .preloader__icon svg rect {
  fill: #a3aedb;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 6rem;
}
@media (max-width: 767px) {
  header {
    padding: 0 48px;
  }
}

.header__logo {
  width: 96px;
  height: 69px;
  margin: 52px 60px;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  font-size: 1.45rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-width: 0px;
  border-color: #d8d4cf;
  border-style: solid;
  color: #000;
  background: transparent;
  border-radius: 7px;
  min-width: 16rem;
  height: 6rem;
  padding: 0;
  font-family: inherit;
  font-size: 1.5rem;
  margin-top: 5.5rem;
  margin-left: 3.6rem;
  position: relative;
}

.btn:focus,
.btn--hover {
  outline: none;
  border-width: 0px;
  border-color: #fff;
  color: #000;
  transition: color 0.4s ease-out;
}

.btn:active {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: rgba(0, 0, 0, 0.3);
  filter: blur(13px);
  border-radius: 7px;
}

.btn__text,
.btn__text-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.btn__text {
  flex: none;
  background: #e0d9d2;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  transition: background 0.4s ease-out;
}

.btn--hover > .btn__text {
  background: #a3aedb;
}

.btn--hover > .btn:focus,
.btn--hover {
  color: #fff;
}

main {
  font-size: 3rem;
  width: 100%;
  height: 100vh;
  position: relative;
}

.cover {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 12%;
  width: 100%;
  height: 100%;
  background-position: left;
  background-size: cover;
  z-index: 0;
  position: absolute;
}
@media (max-width: 767px) {
  .cover {
    padding: 0 24px;
  }
}

.cover__title {
  max-width: 40rem;
}

.cover__desc {
  display: flex;
  font-size: 1.35rem;
  gap: 2rem;
  margin-top: 1.8rem;
  margin-left: 3.6rem;
  max-width: 36rem;
  line-height: 1.5rem;
}

.separator {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
  width: 100%;
  height: 100%;
  fill: #000;
}/*# sourceMappingURL=index.css.map */