meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

base(href="/")

title='Webpack 5 (Averyano)'

meta(name="description", content='Web Designer & Developer')
meta(name="keywords", content="webdevelopment,module bundler,webpack5")
meta(name="msapplication-TileColor", content="#a3aedb")
meta(name="theme-color", content="#a3aedb")

meta(property="og:type" content="website")
meta(property="og:site_name" content='Webpack 5 Starter Repo')
meta(property="og:title" content='Webpack 5 Starter Repo')
meta(property="og:description" content='Front-end environment for building JavaScript applications.')
meta(property="og:image" content='./shared/images/ogimage.jpg')

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content='Webpack 5 Starter Repo')
meta(name="twitter:description" content='Front-end environment for building JavaScript applications.')
meta(name="twitter:image" content='./shared/images/ogimage.jpg')

// Styles
link(rel="mask-icon", href="./shared/images/safari-pinned-tab.svg", color="#000")
//- link(rel="manifest", href="./site.webmanifest")

<!-- For all browsers -->
link(rel="icon", type="image/png", sizes="32x32", href="./shared/images/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="./shared/images/favicon-16x16.png")

<!-- For iPad and iPhone-->
link(rel="apple-touch-icon", sizes="167x167", href="./shared/images/favicon-167x167.png")
link(rel="apple-touch-icon", sizes="180x180", href="./shared/images/favicon-180x180.png")

<!-- For Google and Chrome -->
<link rel="icon" type="image/png" sizes="48x48" href="./shared/images/favicon-48x48.png">
<link rel="icon" type="image/png" sizes="192x192" href="./shared/images/favicon-192x192.png">



title Webpack 5 Starter Repo