doctype html
html(lang="en")
	head
	include ./views/head

	body 
		include ./views/components/preloader
		header
			include ./views/layout/header
		
		main
			include ./views/main
		
		footer
			include ./views/layout/footer