doctype html
html(lang="en")
	head
		include ./views/head

	body 

		include ./views/components/preloader

		main
			include ./views/pages/home/home

		include ./views/components/canvas

		footer
			include ./views/layout/footer